.about__title {
  margin-top: 80px;
  font-size: 50px;
}

.about__card {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  background-color: #9b9b9b;
  padding: 30px;
  border-radius: 8px;
  background-color: #161616;
  border: 1px solid #2a2a2a;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.about__paragraph {
  font-size: 18px;
  line-height: 1.5;
  margin-right: 80px;
  margin-bottom: 20px;
}

.about__photo {
  width: 400px;
  height: 400px;
  border-radius: 8px;
}
