.footer {
  margin-top: 80px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 60px;
}

.footer__logos {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.footer__logo {
  min-width: 50px;
  height: 50px;
}

.footer__email {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  color: #9a9a9a;
}

.footer__copyright {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: bolder;
  color: #9a9a9a;
}

.footer__logo:hover {
  filter: brightness(0) invert(1);
  transform: translateY(-2px);
}
