.header {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.header {
  max-width: 100%;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  margin: 0;
  color: white;
  list-style: none;
}

.header__item {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}
