.header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  border-bottom: 1px solid #ccc; /* color y grosor de la línea */
  padding-bottom: 30px;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  margin: 0;
  color: white;
  list-style: none;
}

.header__item {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}
