.header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: black;
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  top: 0;
  position: sticky;
  z-index: 1000;
}

.header__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  margin: 0;
  list-style: none;
}

.header__item {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.2s ease;
}

.header__item:hover {
  color: #9a9a9a;
}

@media screen and (min-width: 990px) and (max-width: 1110px) {
  .header__item {
    font-size: 18px;
  }
  .header__links {
    gap: 28px;
  }
}
