.intro {
  margin-top: 160px;
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 120px;
  margin-bottom: 30px;
}

.intro__image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.intro__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.intro__name {
  font-size: 70px;
}

.intro__rol {
  font-size: 40px;
}

.intro__text {
  font-size: 25px;
  line-height: 1.5;
  font-weight: normal;
}

@media screen and (min-width: 990px) and (max-width: 1110px) {
  .intro__image {
    width: 250px;
    height: 250px;
  }
  .intro__name {
    font-size: 50px;
  }
  .intro__rol {
    font-size: 30px;
  }
  .intro__text {
    font-size: 22px;
  }
}

@media screen and (min-width: 800px) and (max-width: 990px) {
  .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  .intro__image {
    width: 200px;
    height: 200px;
  }
  .intro__content {
    margin-top: 10px;
  }
  .intro__name {
    text-align: center;
    font-size: 40px;
    margin: 0;
  }
  .intro__rol {
    text-align: center;
    font-size: 25px;
  }
  .intro__text {
    text-align: center;
    font-size: 18px;

    width: 600px;
  }
}
