.skill__title {
  font-size: 50px;
}

.skill__cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.skill__card {
  display: flex;
  align-items: flex-start;
  max-width: 550px;
  flex-direction: column;
  margin-top: 50px;
  background-color: #9b9b9b;
  padding: 30px;
  border-radius: 8px;
  background-color: #161616;
  border: 1px solid #2a2a2a;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.skill__top {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.skill__title {
  font-size: 40px;
  margin: 0;
}

.skill__subtitle {
  font-size: 20px;
  margin: 0;
  margin-top: 25px;
}

.skill__container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.skill__tecnologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.skill__logo {
  width: 60px;
  height: 60px;
  aspect-ratio: 1 / 1;
  padding: 8px;
  background-color: #0f0f0f;
  border-radius: 10px;
  object-fit: contain;
}

.skill__teconologie-name {
  font-size: 15px;
  font-weight: lighter;
}

.skill__card-workflow {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  flex-direction: column;
  margin-top: 50px;
  background-color: #9b9b9b;
  padding: 30px;
  border-radius: 8px;
  background-color: #161616;
  border: 1px solid #2a2a2a;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.skill__workflows {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill__workflow {
  background: linear-gradient(135deg, #1e293b, #0f172a);
  color: #ffffff;

  padding: 10px; /* ⬅️ más ancho */

  border-radius: 999px;
  font-size: 15px;
  font-weight: 500;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}
