.skill__title {
  font-size: 50px;
}

.skill__cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
}

.skill__card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  flex-direction: column;
  margin-top: 50px;
  background-color: #9b9b9b;
  padding: 30px;
  border-radius: 8px;
  background-color: #161616;
  border: 1px solid #2a2a2a;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.skill__top {
  font-size: 30px;
}

.skill__logos {
  display: flex;
  gap: 20px;
}

.skill__logo {
  width: 60px;
  height: 60px;
}
