.work {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 20px;
  max-width: 1200px;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #ccc;
  padding-bottom: 80px;
}

.work__title {
  font-size: 50px;
  margin: 0;
  margin-top: 50px;
}

.work__card {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  background-color: #9b9b9b;
  padding: 30px;
  border-radius: 8px;
  background-color: #161616;
  border: 1px solid #2a2a2a;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.work__top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.work__info {
  line-height: 1.5;
  margin-left: 10px;
}

.work__name {
  font-size: 30px;
}

.work__link {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.work__description {
  font-size: 16px;
  margin: 0;
}

.work__technologies {
  display: flex;
  gap: 25px;
  margin-top: 35px;
}

.work__icon {
  width: 50px;
  height: 50px;
}

.work__image {
  display: flex;
  align-items: center;
}

.work__screenshot {
  width: 580px;
  height: 400px;
  margin-left: 100px;
  border-radius: 4px;
}

.work__link:hover {
  filter: brightness(0) invert(1);
  transform: translateY(-2px);
}

.work__icon:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

@media screen and (min-width: 990px) and (max-width: 1110px) {
  .work__title {
    font-size: 40px;
  }

  .work__card {
    max-width: 1000px;
  }

  .work__top {
    gap: 10px;
  }

  .work__name {
    font-size: 22px;
  }

  .work__link {
    width: 26px;
    height: 26px;
  }

  .work__screenshot {
    width: 480px;
    height: 300px;
    margin-left: 70px;
    border-radius: 4px;
  }

  .work__description {
    font-size: 15px;
  }

  .work__icon {
    width: 40px;
    height: 40px;
  }
}
