@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/navegation.css);

.intro {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.intro__image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

.intro__info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.info__name {
  font-size: 50px;
}

.info__rol {
  font-size: 40px;
}

.info__text {
  font-size: 20px;
}
