@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/intro.css);

.work {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 200px;
  width: 1200px;
  font-family: "Roboto", sans-serif;
}

.work__title {
  font-size: 50px;
}

.work__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  background-color: #9b9b9b;
  padding: 30px;
  border-radius: 8px;
  background-color: #161616;
  border: 1px solid #2a2a2a;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.work__top {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.work__info {
  line-height: 1.5;
  margin-left: 10px;
}

.work__name {
  font-size: 30px;
}

.work__link {
  width: 30px;
  height: 30px;
  margin-top: 15px;
}

.work__description {
  font-size: 18px;
}

.wrok__repository {
}

.work__image {
  display: flex;
  align-items: center;
}

.work__screenshot {
  width: 580px;
  height: 400px;
  margin-left: 100px;
  border-radius: 4px;
}

.work__technologies {
  display: flex;
  gap: 25px;
  margin-top: 35px;
}

.work__icon {
  width: 50px;
  height: 50px;
}
