@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/intro.css);

.work {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 200px;
  width: 1200px;
  font-family: "Roboto", sans-serif;
}

.work__title {
  font-size: 50px;
}

.work__card {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #9b9b9b;

  padding: 32px;
  border-radius: 8px;

  background-color: #161616;
  border: 1px solid #2a2a2a;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

.work__info {
  line-height: 1.5;
}

.work__name {
  font-size: 30px;
}

.work__description {
  font-size: 18px;
}

.wrok__repository {
}

.work__image {
  width: 800px;
  height: 400px;
  margin-left: 100px;
}

.work__technologies {
  display: flex;
  gap: 20px;
}

.work__icons {
  width: 50px;
  height: 50px;
}
