@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/intro.css);
@import url(/blocks/work.css);

.about__title {
  font-size: 50px;
}

.about__container {
  display: flex;
  flex-direction: row;
}

.about__paragraph {
  font-size: 15px;
  line-height: 1.5;
  margin-right: 120px;
}

.about__photo {
  width: 700px;
  height: 400px;
}
