@import url(/blocks/page.css);
@import url(/blocks/header.css);
@import url(/blocks/intro.css);

.work {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 200px;
}

.work__title {
  font-size: 50px;
}

.work__name {
  font-size: 30px;
}
4